<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Unknown Page</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body class="bg-white">
    <div class="container d-flex align-items-center justify-content-between align-self-center">
        <div class="kiri">
            <h1 class="fw-bold fs-1">404 Page Not Found</h1>
            <a href="/" class="btn bg-success bg-opacity-75 mx-auto shadow">Back Home</a>
        </div>
        <div class="kanan">
            <img src="https://stories.freepiklabs.com/storage/26838/oops-404-error-with-a-broken-robot-pana-2854.png" alt="" style="filter: drop-shadow(0 0 3px black);">
        </div>
    </div>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>